@import 'vendor/normalize';
@import 'vendor/base';

* {
  box-sizing: border-box;
}

$_root: 'http://pengxwang.s3.amazonaws.com/wedding';
// $_root: '..';
$_weight: '#html';

@import 'vendor/chrome-helpers';

@include font-face(DanteMT-Italic, dantemtitalic, #{$_root}/fonts);
@include font-face(CaslonTwoTwentyFourLT-Book, itccaslon224ltbook, #{$_root}/fonts);
@include font-face(CaslonTwoTwentyFourLT-Bold, itccaslon224ltbold, #{$_root}/fonts);
@include font-face(AJensonPro-Regular, ajensonproregular, #{$_root}/fonts);

/* ==============
   Skin
   ============== */

$white-1: #ffffff;
$black-1: #231f20;
$gray-1: #4d4c48;
$blue-1: #0067ac;
$blue-1-d: #00478c;
$blue-2: #56a0d3;
$blue-2-l: mix($blue-2, $white-1, 30%);
$font-1: 'DanteMT-Italic', serif;
$font-1-generic: Georgia, serif;
$font-2: 'CaslonTwoTwentyFourLT-Book', serif;
$font-2-bold: 'CaslonTwoTwentyFourLT-Bold', serif;
$font-3: 'AJensonPro-Regular', serif;
$base-line: 18px;
$base-lead: 26px;
$ribbon-size: $base-lead - $base-line;
$main-col-size: 57%;
$side-col-size: 37%;
$title-top: $base-lead * 1.5;
$big-headings: 'h1, h2, h3';
$small-headings: 'h4, h5, h6';

$screen-size-1: 480px;
$screen-size-2: 1024px;
$screen-size-3: 1140px;

/* ==============
   Patterns
   ============== */

%type-1 {
  font: { family: $font-1; weight: normal; }
}

%type-2 {
  font: { family: $font-2; variant: small-caps; weight: normal; }
}

%type-3 {
  font: { family: $font-3; variant: small-caps; weight: normal; }
  letter-spacing: 1px;
  text-transform: lowercase;

  nav & {
    letter-spacing: 0;
  }

  .number,
  %type-mod-meta {
    font-size: .75em;
  }
}

%type-mod-meta {
  opacity: .7;
  text-transform: lowercase;
  transition: opacity .3s ease-in-out;

  #{$big-headings} {
    font: { size: .7em; style: normal; }
  }

  & & {
    font-size: 1em;
  }

  &.selected {
    opacity: 1;
  }
}

%type-mod-sub {
  font-size: .9em;
  opacity: .7;
}

%type-mod-em {
  border-bottom: { style: dotted; width: 1px; }

  %type-1 & {
    font-style: normal;
  }
}

%type-mod-link {
  text-decoration: none;

  & {
    border-bottom: { style: dotted; width: 1px; }
  }

  #{$_weight} &:hover {
    border-bottom-style: solid;
  }

  %type-mod-em & {
    border-bottom-style: none;
  }
}

%size-1 {
  $line: $base-line - 1px;
  $gutter: $base-lead - $line;
  font-size: $line;
  line-height: 1.5em;
  padding: ($gutter / 2) $gutter;
}

%size-2 {
  $line: 19px;
  font-size: $line;
}

%size-2-box {
  $line: 15px;
  @extend %size-2;
  padding: ($line + 2px) ($line * 2) $line;

  nav & {
    padding: { left: $line; right: $line; }
  }
}

%size-3 {
  $line: 20px;
  $lead: $base-lead * 1.5;
  font-size: $line;
  line-height: $base-lead;
  padding: $lead;
}

%stationery-1 {
  @extend %text-inset-1;
  background: {
    attachment: fixed;
    color: $blue-1;
    image: url(#{$_root}/img/wave-pattern-inverted.png);
  }
  color: $white-1;
  overflow: hidden;

  %sheet {
    $blue-1-glass: transparentize($blue-1, .5);
    background: $blue-1-glass;
    box-shadow: 0 0 50px $base-lead $blue-1-glass;
  }

  %type-mod-link {
    $clr: $white-1;
    color: $clr;
    border-bottom-color: $clr;

    &[href^='tel'],
    &.native-bridge {
      border-bottom-color: $blue-2;
    }
  }

  %type-mod-em {
    border-color: $white-1;
  }
}

%stationery-2 {
  background: {
    color: $white-1;
    image: url(#{$_root}/img/linen-pattern.png);
  }
  color: $black-1;

  /* For Caslon.
  #{$big-headings} {
    // Black on white.
    font-weight: bold;
  }
  */

  %type-mod-link {
    $clr: $blue-1;
    $meta-clr: $white-1;
    border-bottom-color: $clr;
    color: $clr;

    &[href^='tel:'] {
      color: $meta-clr;
      border-bottom-color: $meta-clr;
    }
  }

  %type-mod-em {
    border-color: $black-1;
  }
}

%stationery-3 {
  color: $white-1;
  background: {
    color: $gray-1;
    image: url(#{$_root}/img/dark-linen-pattern.png);
  }
}

%stationery-4 {
  @extend %shadow-1;
  @extend %text-inset-2;
  background-color: transparentize($blue-2, .5);
  color: darken($blue-1, 10%);
}

%stationery-5 {
  @extend %shadow-1;
  @extend %text-inset-1;
  background-color: transparentize($blue-1-d, .5);
  color: $blue-2-l;

  %type-mod-em {
    color: $white-1;
  }
}

%shadow-1 {
  border: 1px solid shade(.2);
  box-shadow: (
    0 2px 3px 0 shade(.3),
    inset 0 0 0 1px light(.2)
  );
}

%text-inset-1 {
  text-shadow: 0 -1px 0 $black-1;
}

%text-inset-2 {
  text-shadow: 0 1px 0 light(.5);
}

%control-1 {
  @extend %shadow-1;
  @extend %text-inset-1;
  @extend %type-3;
  background: transparentize($blue-1, .3);
  color: $white-1;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: $base-lead;
  text: {
    align: center;
    decoration: none;
    transform: uppercase;
  }
  transition: background .3s ease-in-out;

  &:hover {
    color: $white-1;
    background: $blue-1-d;
  }
}

%content-box-1 {
  padding: $base-lead;

  :first-child { margin-top: 0; }

  :last-child { margin-bottom: 0; }
}

%content-box-2 {
  padding: ($base-lead / 2);
}

%hash-list {
  dd,
  dt { vertical-align: middle; }

  dt {
    float: left;
    padding-right: $base-line;
    margin: 0;
    clear: left;
  }

  dd {
    display: block;
    clear: right;
  }
}

%top-rule {
  border-top: 1px solid shade(.2);
  box-shadow: inset 0 2px 0 -1px $white-1;
  padding-top: $base-lead;
}

%top-tab {
  margin-top: -1px;

  &%shadow-1 {
    margin-top: -2px;
  }
}

// TODO: Add into lib.
%no-doc-flow {
  display: block;
  position: relative;

  > * {
    display: block;
    position: absolute;
  }
}

@mixin sidebar {
  float: right;
  width: $side-col-size;
}

/* ==============
   General
   ============== */

body {
  @extend %stationery-2;
  font: #{$base-line}/#{$base-lead} #{$font-1};
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &.ready {
    opacity: 1;
  }
}

.space {
  font-family: $font-1-generic;
  line-height: 1;
}

#{$big-headings} {
  @extend %type-2;
}

#{$small-headings} {
  @extend %type-3;
}

h4 {
  @extend %size-2;
}

h5,
h6 {
  @extend %size-1;
}

p {
  @extend %type-1;
}

.meta,
small {
  @extend %type-mod-meta;
}

label {
  @extend %type-3;

  &[for],
  &[for] * {
    cursor: pointer;
  }
}

fieldset.radio > label {
  $gutter: .5em;

  &:not(:first-child) {
    padding-left: $gutter;
    border-left: 1px dotted $white-1;
  }

  &:not(:last-child) {
    padding-right: $gutter;
  }
}

img[src=''] {
  display: none;
}

::selection {
  background: transparent;
  .main-container & {
    background: $blue-2-l;
  }
}

.wrapper {
  width: 90%;
  margin: 0 5%;
  position: relative;

  @media only screen and (min-width: $screen-size-3) {
    width: 1026px; // 1140px - 10% for margins
    margin: 0 auto;
  }
}

em {
  @extend %type-mod-em;
}

.and {
  @extend %type-1;
}

[data-lang] {
  display: none;
}

[data-lang^='zh'] {
  font-size: .95em;
  line-height: 1em;

  .action &,
  .trigger &,
  .stalking & {
    font-size: 1.15em;
  }

  .and { font-size: 1em; }
}

.header-container {
  border-bottom: $ribbon-size solid $blue-1;
  overflow: visible;

  @media print {
    border-bottom: 0;
  }

  .title {
    @extend %content-box-1;
    padding: $title-top 0 $base-line;

    @media only screen and (min-width: $screen-size-2) { // Wider for nav buttons.
      float: left;
    }

    .heading { margin: 0; }

    .ie7 & {
      padding-top: $base-lead;
    }
  }
}

.footer-container,
.main aside {
  border-top: $ribbon-size solid $blue-1;

  @media print {
    border-top: 0;
  }
}

.header-container,
.footer-container {
  cursor: default;
}

.header-container,
.footer-container,
#{$_weight} .main aside {
  @extend %stationery-1;
}

.main-container {
  @extend %stationery-2;
  $y: 4px;
  $size: 3px;
  border: { color: $blue-2; style: solid; width: 1px 0; }
  box-shadow: (
    inset 0 $y $size -#{$size} shade(.7),
    inset 0 -#{$y} $size -#{$size} shade(.7)
  );

  p,
  dl,
  ul,
  ol {
    @extend %text-inset-2;
  }

  article .heading {
    color: mix($white-1, $black-1, 20%);
    font-family: $font-2-bold;
  }
}

.main aside:first-of-type {
  margin-top: $base-lead; // Align.
}

/* ==============
   Header
   ============== */

#title {
  @extend %sheet;
  font: {
    size: 42px;
  }

  &.stalking {
    @extend %control-1;
    @extend %size-2-box;
    @extend %top-tab;
    width: auto !important;

    @media only screen and (min-width: $screen-size-1) and (max-width: $screen-size-2) {
      display: none;
    }
  }
}

#i18n {
  bottom: $base-line;
  position: absolute;
  right: 0;

  // Includes additional buffer.
  @media only screen and (max-width: $screen-size-2) {
    bottom: auto;
    top: $title-top + 8px; // Cap and x-height difference.
  }

  @media only screen and (max-width: $screen-size-1 + 160px) {
    font-size: .8em;
    left: 0;
    right: auto;
    top: 5px;
  }

  @media print {
    display: none;
  }
}

nav {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  li,
  a {
    display: block;
  }

  a {
    @extend %control-1;
    @extend %size-2-box;
    @extend %top-tab;
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-size-1) {
      float: left;
      margin: { bottom: 0; left: 1.7%; right: 1.7%; }
      width: 31%;

      .oldie nav & {
        margin: 0 .7%;
      }
    }
  }
  &.more-js {
    .trigger {
      display: none;
      position: absolute;
      right: $base-lead;
      top: $base-lead;

      @media only screen and (max-width: $screen-size-1) {
       display: block;
      }
    }
  }

  @media only screen and (min-width: $screen-size-1) {
    li:first-child > a {
      margin-left: 0;
    }

    li:last-child > a {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: $screen-size-1) and (max-width: $screen-size-2) {
    &:not(.stalking) {
      // Tabs.
      height: 60px;
      overflow-y: hidden;
      padding-top: 4px;
    }
  }

  @media only screen and (min-width: $screen-size-2) { // Wider for nav buttons.
    @include sidebar;
  }

  @media print {
    display: none;
  }
}

/* ==============
   Main
   ============== */

a:not(.action):not(.trigger):not(.cloaked) {
  @extend %type-mod-link;
}
a.cloaked {
  color: inherit;
  text-decoration: inherit;
}

.main {
  padding: $base-lead 0;

  aside {
    @extend %content-box-1;
    @extend %shadow-1;
    @extend %size-2;

    @media only screen and (min-width: $screen-size-2) { // Wider for nav buttons.
      @include sidebar;
    }

    @media print {
      border-top: 1px solid;
      border: 0;
      margin-top: 1em;
      margin: 0;
      padding-top: 1em;
      padding: 0;
    }

    > .inner {
      @extend %sheet;
    }

    :not(.note):not(em) {
      font-style: normal;
    }

    .detail, .note {
      @extend %content-box-2;
      @extend %shadow-1;
      @extend %size-1;
      @extend %stationery-5;
    }
  }
  address {
    .directions {
      @extend %type-mod-sub;
      display: block;
      margin: .5em 0;
    }
  }
  .more-js .trigger {
    @extend %type-mod-link;
    @extend %type-mod-sub;
  }
  #{$big-headings} {
    text-transform: lowercase;
  }
  #{$big-headings},
  p,
  blockquote,
  figure {
    margin: $base-lead 0;
  }
  @media only screen and (min-width: $screen-size-2) { // Wider for nav buttons.
    article {
      float: left;
      width: $main-col-size;
    }
  }
}

article {
  @extend %size-2;

  figure {
    @extend %shadow-1;
    @extend %stationery-3;
    display: block;

    @media print {
      display: none;
    }

    img {
      border: 1px solid light(.2);
      box-shadow: 0 2px 3px shade(.3);
      width: 100%;
    }
  }
  figcaption {
    @extend %size-1;
    @extend %type-1;
    display: block;
    text-align: right;
    text-transform: lowercase;
  }
  .note {
    @extend %content-box-1;
    @extend %size-1;
    @extend %stationery-4;
  }
  dl {
    @extend %hash-list;
    $w: 25%;

    dt {
      width: $w;

      @media only screen and (max-width: $screen-size-1) {
        .extra {
          display: none;
        }
      }
    }

    dd {
      margin-left: $w;
    }

    small:not(.extra) {
      display: block;
      line-height: 1.3em;
    }

    &.large dd+dd {
      margin-top: .3em;
    }

    &.large dt:not(:first-child) {
      &, &+dd {
        margin-top: .7em;
      }
    }
  }
  blockquote {
    @extend %shadow-1;
    @extend %size-3;
    @extend %stationery-3;
    text-align: center;

    @media print {
      .action {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  .number { // For blocks, not inline.
    font-family: $font-3;
    letter-spacing: 2px;
  }

  a.action {
    @extend %control-1;
    @extend %size-2-box;
    display: inline-block;
  }

  > :not(:first-child) .heading {
    @extend %top-rule;
  }

  .heading.current {
    &::before {
      $arrow-size: 10px;
      $arrow-color: $blue-1;
      border: {
        color: transparent transparent transparent $arrow-color;
        style: solid;
        width: ($arrow-size * .7) 0 ($arrow-size * .7) $arrow-size;
      }
      content: '\0020';
      display: block;
      margin-left: -($arrow-size * 2);
      margin-top: .3em; // Small-caps difference.
      position: absolute;
    }
  }
}

.footer-container footer {
  color: white;
  padding: $base-lead 0;
}

#colophon {
  @extend %sheet;
}

/* ==============
   Components
   ============== */

.more-js {
  .trigger {
    display: inline-block;
  }
  &:not([data-more-custom]) {
    .detail, .less {
      display: none;
    }
  }
}
.map {
  @extend %no-doc-flow;
  $w: 100%;
  $h: 300px;

  &,
  > .curtain,
  > iframe {
    width: $w;
    height: $h;
  }

  .curtain {
    @extend %shadow-1;
    background: {
      color: $blue-1;
      image: url(#{$_root}/img/map-streetview-screen.jpg);
      position: center center;
      repeat: no-repeat;
      size: cover;
    }

    figcaption {
      $w: 100px;
      $h: 57px;
      @extend %control-1;
      @extend %size-2-box;
      @include centered($w, $h);
      text-align: center;
    }
  }

  iframe {
    @extend %shadow-1;
  }

  @media print {
    display: none;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

@import 'vendor/helpers';


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

  @import 'vendor/print';

}
